<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, AdminWrap lite admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, Xtreme admin lite design, Xtreme admin lite dashboard bootstrap 4 dashboard template">
    <meta name="description"
        content="Xtreme Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Turismo Comunitario Cotopaxi</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="images/icnturist.jpg" rel="icon">
    <!-- Custom CSS -->
    <link href="../../assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="icon" type="image/png" href="images/icnturist.jpg"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - Regna Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="images/icnturist.jpg" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Turismo Comunitario, New Illustration Style, M​inimal, Welcome Photo Studio, Contact Us">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>Página 1</title>
  <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Página-1.css" media="screen">
  <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 3.3.7, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  
  
  
  
  
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://bootswatch.com/4/minty/bootstrap.min.css" rel="stylesheet">
    <link href="../../dist/css/style.min.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<!------ leaflet ---------->
	
	<script src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet-src.js'></script>
    <script src="js/jquery-1.8.2.min.js"></script>

	<link href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css' rel='stylesheet' />
	
    



<link href="../AdminEmpre/style1.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header " data-logobg="skin5">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div id="logo" class="pull-left">
                        <h1> <a  style="font-size: x-large; font-weight: 900;" href="/logout">CotoTurist</a></h1>
                       
                        <!-- Uncomment below if you prefer to use a text logo -->
                        <!--<h1><a href="#hero">Regna</a></h1>-->
                      </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                       
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <div class="text-right upgrade-btn">
                                <a href="/logout" class="btn btn-danger text-white" >Logout</a>
                            </div>
                            
                            
                           
                              
                                   
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i>
                                    My Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i>
                                    My Balance</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i>
                                    Inbox</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar ">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            <!-- User Profile-->
                            <div class="user-profile d-flex no-block dropdown m-t-20">
                                <div class="user-pic"><img src="../../assets/images/users/1.jpg" alt="users"
                                        class="rounded-circle" width="40" /></div>
                                <div class="user-content hide-menu m-l-10">
                                    <a href="javascript:void(0)" class="" id="Userdd" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <h5 class="m-b-0 user-name font-medium"> <%=data.name_emprendedor%><i
                                                class=""></i></h5>
                                        <span class="op-5 user-email"><%=data.correo%></span>
                                    </a>
                                   
                                </div>
                            </div>
                            <!-- End User Profile-->
                        </li>
                       
                        <!-- User Profile-->
                        
                        
                        

                        <li class="sidebar-item"> <a href="/Panel" class="sidebar-link waves-effect waves-dark sidebar-link" 
                            ><i class="mdi mdi-calendar-text"></i><span
                                class="hide-menu">Notificaciones</span></a></li>
                 
                                <li class="sidebar-item"> <a href="/profile" class="sidebar-link waves-effect waves-dark sidebar-link" 
                                    ><i class="mdi mdi-calendar-text"></i><span
                                        class="hide-menu">Perfil</span></a></li>

                               
                                <li class="sidebar-item"> <a href="/Panelreg" class="sidebar-link waves-effect waves-dark sidebar-link" 
                                    ><i class="mdi mdi-account-plus"></i><span
                                        class="hide-menu">Registro</span></a></li>


                                 
            
                                        <li class="sidebar-item"> <a href="/PanelConsul" class="sidebar-link waves-effect waves-dark sidebar-link" 
                                            ><i class="mdi mdi-account-card-details"></i><span
                                                class="hide-menu">Consultas</span></a></li>
                                 
                                            
                                                <li class="sidebar-item"> <a href="/PanelAnuncios" class="sidebar-link waves-effect waves-dark sidebar-link" 
                                                    ><i class="mdi mdi-relative-scale"></i><span
                                                        class="hide-menu">Anuncios/Ofertar</span></a></li>
                                 
                                          
                           
                            
                   
                </ul>

            </nav>

                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        
                        <h1 class="page-title">Registro</h1>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Registro</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-7">
                        
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <div class="row">
                   
                    <div class="col-md-10">
                        
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title" style="color:darkcyan">Nuevo Registro</h4>
                                        <h5 class="card-subtitle">Ingreso de datos</h5>
                                    </div>
                                 
                                </div>
                                <div class="row">
                                    <!-- column -->
                                    <div class="col-lg-10"></div>

                                    <form class="validate-form"  action="/SaveEmpren_LT" method="POST"  enctype="multipart/form-data">
                            
                                        <div class="card-body">
                                            <div class="m-b-20">
                                                <div class="col-lg-4">
                                                <h4 style="color:darkcyan">Qué vas a registrar</h4>

                                              
                                                <div class="wrap-input100 rs2-wrap-input100  m-b-20" data-validate="Type password">
                                                    <select    class="input100" name ="tipo_registro_id_tipo" id ="tipo_registro_id_tipo"  ">
                                                        <option  selected disabled>Escoge una opcion</option>
                                                        <% for (var i = 0; i < data1.length; i++){ %>
                                                            <option title="<%=data1[i].desc_tipo %>" value="<%=data1[i].id_tipo %>">
                                                                <%=data1[i].tipo_registro %>
                                                            </option>
                                                        <% } %>
                                                    </select>
                                                    <span class="focus-input100"></span>
                                                </div>

                                         </div>
                                        </div>
                                    </div>


                                       <br>
                                       <br>
                                       <br>

                                         <div class="card-body">
                                                    <div class=" m-b-20">
                                                        <div class="col-lg-4">
                                                        <h4 style="color:darkcyan">Qué tipo de experiencia ofreces</h4>
                                                        <div class="wrap-input100 rs2-wrap-input100  m-b-20" data-validate="Type password">
                                                        <select    class="input100" name ="tipo_servicio_id_tipo_servicio" id ="tipo_servicio_id_tipo_servicio">
                                                            <option  selected disabled>Escoga una opcion</option>
                                                            
                                                            <tbody id="tipo_servicio_id_tipo_servicio"></tbody>
                                                       
                                                        </select>
                                                        <span class="focus-input100"></span>
                                                    </div>
                                               </div>
                                                    
                                            </div>
                                        </div>
                                        <br>
                                     
                                            <div class="col-lg-10"></div>



                                          



                                            
                                            <div class="card-body">
                                                <div class="card-body">           
                                                    <h4 style="color:darkcyan">Etiquetas</h4>
                                                    Estas etiquetas identificaran a tu lugar o servicio turistico al momento de realizar una busqueda,
                                                    por favor escoge las 3 mejores caracteristicas
                                                </div>
                                                <div class=" m-b-20">
                                                    <div class="col-lg-4">
                                                        <br>
                                                    <h4 style="color:darkcyan">Etiqueta N1</h4>
                                                    <div class="wrap-input100 rs2-wrap-input100  m-b-20" data-validate="Type password">
                                                    <select    class="input100" name ="servicio_id_servicio" id ="servicio_id_servicio" >
                                                        <option  selected disabled value=" ">Escoga una opcion</option>

                                                        <tbody id="servicio_id_servicio"></tbody>
                                                   
                                                    </select>
                                                    <span class="focus-input100"></span>
                                                </div>
                                           </div>
                                        </div>


                                           <div class=" m-b-20">
                                            <div class="col-lg-4">
                                            <h4 style="color:darkcyan">Etiqueta N2</h4>
                                            <div class="wrap-input100 rs2-wrap-input100  m-b-20" data-validate="Type password">
                                            <select    class="input100" name ="servicio_id_servicio1" id ="servicio_id_servicio1">
                                                <option  selected disabled>Escoga una opcion</option>

                                                <tbody id="servicio_id_servicio1"></tbody>
                                           
                                            </select>
                                            <span class="focus-input100"></span>
                                        </div>
                                    </div>
                                   </div>

                                   <div class=" m-b-20">
                                    <div class="col-lg-4">
                                    <h4 style="color:darkcyan">Etiqueta N3</h4>
                                    <div class="wrap-input100 rs2-wrap-input100  m-b-20" data-validate="Type password">
                                    <select    class="input100" name ="servicio_id_servicio2" id ="servicio_id_servicio2">
                                        <option  selected disabled>Escoga una opcion</option>

                                        <tbody id="servicio_id_servicio2"></tbody>
                                   
                                    </select>
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                           </div>



                                   
                                                
                                        </div>
                                       

                                <div class="card-body">
                                    <div class=" m-b-20">
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>


                                        <div class="col-lg-4">
                                            <br>
                                        <h4 style="color:darkcyan">Provincia</h4>
                                        <div class="wrap-input100 rs2-wrap-input100  m-b-20" data-validate="Type password">
                                        <select    class="input100" name ="provincia_id_provincia" id ="provincia_id_provincia">
                                            <option  selected disabled>Escoga una opcion</option>

                                            <tbody id="provincia_id_provincia"></tbody>
                                       
                                        </select>
                                        <span class="focus-input100"></span>
                                    </div>
                               </div>
                            </div>




                               <div class=" m-b-20">
                               
                                
                                <div class="col-lg-4">
                                <h4 style="color:darkcyan">Canton</h4>
                                <div class="wrap-input100 rs2-wrap-input100  m-b-20" data-validate="Type password">
                                <select    class="input100" name ="canton_emprendimiento_id_canton" id ="canton_emprendimiento_id_canton">
                                    <option  selected disabled >Escoga una opcion</option>

                                    <tbody id="canton_emprendimiento_id_canton"></tbody>
                               
                                </select>
                                <span class="focus-input100"></span>
                            </div>
                       </div>
                    </div>



                       <div class=" m-b-20">
                        <div class="col-lg-4">
                        <h4 style="color:darkcyan">Parroquia</h4>
                        <div class="wrap-input100 rs2-wrap-input100  m-b-20" data-validate="Type password">
                        <select    class="input100" name ="parroquia_emprendimiento_id_parroquia" id ="parroquia_emprendimiento_id_parroquia">
                            <option  selected disabled>Escoga una opcion</option>

                            <tbody id="parroquia_emprendimiento_id_parroquia"></tbody>
                       
                        </select>
                        <span class="focus-input100"></span>
                    </div>
               </div>
            </div>
        </div>
                                    
                            

                           
                                     
                            <div class="row">
                            <div class="card-body">
                                <div class="col s12 m6">
                                  <div class="card blue-grey darken-1">
                                    <div class="card-content white-text">
                                      <span class="card-title">Subir Imagenes</span>
                                      
                                      
                            <div id="wrapper">
                                <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Suba imagenes">
                                <input   class="input100" id="fileUpload" name="imagen1" type="file" multiple accept="image/gif, image/jpeg, image/png" />
                                <span class="focus-input100"></span>
                            </div>

                           

                                <br />
                                <div id="image-holder"></div>
                            </div>
                           
                                    </div>
                                    <div class="card-action">
                                    </div>
                                  </div>
                              


                              <h4 style="font-weight: bold; color: darkred;" hidden="true" id="menIncom"> Recuerda que para completar estos pasos debes cumplir con los anteriores</h4>


                                      <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Escriba un nombre">
                                        <input id="name_emprendimiento" class="input100" type="text"  name="name_emprendimiento" placeholder="Nombre del Sitio turístico o Emprendimiento"">
                                        
                                        <span class="focus-input100"></span>
                            </div>
                            
                           
                                    
                                       
                                        <div id="notificacionRep">

                                            <tbody id="notificacionRep"></tbody>


                                        </div>
              
                                    
                         
                            <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Llene este campo">
                                                  
                                <textarea class="input100" id="detalles" name="detalles" value=""  maxlength="400"  rows="10" placeholder="
                                                                                                             Si usted eligío lugar turistico
Resuma su experiencia , el tipo de clima, los atractivos que ofrese Ej(fauna, flora, observatorios) y loque destaque de ese lugar
                                
                                                                                                          Si usted eligio Servicio Comunitario
Detalle el servicio que ofrese Ej(Restaurante, Hotel)
Direccion exacta Ej: Calle principal y Calle Secundaria N°
Horarios de Atencion
Actividades o el menú que es ofertada en su servicio


                                "></textarea>
                                <span class="focus-input100"></span>
                                 <div id="contador">0/500</div>
                            </div>
                            <br>
                            Incluya el prefijo de su país
                            <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Ingrese telf">
                                <input class="input100" type="text" id="Contacto" name="Contacto" placeholder="+593 *********" onkeypress='return validaNumericos(event)' maxlength="13" >
                                <span class="focus-input100"></span>
                            </div>
                            <br>
                           <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20">

                            <input class="input100" type="hidden" value="script: esto" name="estado_solicitud" id="estado_solicitud" placeholder=" ">
                            <script>
                                var input = document.getElementById("estado_solicitud");
                               var meses = new Array("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre");
                               var fecha = new Date();
                               input.value = (fecha.getDate() + " de " + meses[fecha.getMonth()] + " del " + fecha.getFullYear());
                               var esto = input.value = (fecha.getDate() + " de " + meses[fecha.getMonth()] + " del " + fecha.getFullYear());
                                </script>

                            <span class="focus-input100"></span>
                        </div>
                                             
                 
                                          

                                                
                                                      <div class="card blue-grey darken-1">
                                                        <div class="card-content white-text">
                                                          <span class="card-title">Escoga las coordenadas en el mapa de su lugar turistico o emprendimiento </span>
                                                          
                                                           <div>   
                                                               <br>  
                                                          <button class="btn btn-info" type="button" onclick="direccion_actual();">Ubicacion actual</button>
                                                          <h4 style="color:darkcyan">NOTA:Si tu lugar turistico o emprendimiento se encuentra fuera de rango "circulo azul", tambien puedes encontrarlo con el buscador que se encuentra abajo del mapa</h4>
                                                          <li style="color:darkcyan">Una vez localizado tu lugar turistico o emprendimiento da click dentro del mapa en donde se encuentra ubicado para guardar las coordenadas</li>

                                                          <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Escoga coordenadas danto click en su localizacion en el mapa">
                                                            <input class="input100" type="hidden" name="latitud" value="" id="lat" placeholder="Latitud">
                                                            <span class="focus-input100"></span>
                                                        </div>
                                                        
        
                                                        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Escoga coordenadas danto click en su localizacion en el mapa">
                                                            <input class="input100" type="hidden" name="longitud"  value="" id="lng" placeholder="Longitud">
                                                            <span class="focus-input100"></span>
                                                        </div>
                                                        
                                                    <div id="mapa"  style="height:600px" ></div>

                                                    
                                                    <div id="buscador">   
                                                        <div class="wrap-input100 rs2-wrap-input100 ">
                                                            <br>
                                                            <h4 style="color:darkcyan">En este apartado usted puede Busqueda por (Provincia, Parroquia, Canton, Calle Principal, Calle secundaria, Lugares de referencia (Ejm: Volcan Cotopaxi))</h4>
                                                            <input class="input100" type="hidden" name="direccion"  id="direccion">
                                                            <input class="input100" type="text" name="direccion1"  id="direccion1"  placeholder="Busqueda Manual">
                                                            <span class="focus-input100"></span>
                                                        </div>

                                                       
                                                        <button class="btn btn-info" type="button" onclick="direccion_buscador();">Buscador</button>
                                                        <div id="resultado"/>
                                                        
               
                                                    </div>
                                                </div>
                                                        </div>
                                                        <div class="card-action">
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>


                                                </div>
                                            </div>
                                            

                                                 
                                             

                                              

              

                                                    <script
                                                    src="https://code.jquery.com/jquery-3.6.0.js"
                                                    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                                                    crossorigin="anonymous"></script>   
                                                    <script src="ajax.js"></script>
                                                    
                                                    <script>
                                                        const phoneInputField = document.querySelector("#Contacto");
                                                        const phoneInput = window.intlTelInput(phoneInputField, {
                                                          utilsScript:
                                                            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",separateDialCode: true,initialCountry: "auto"
                                                        })
                                                    
                                                        
                                                        function validaNumericos(event) {
                                                        if(event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43){
                                                          return true;
                                                         }
                                                         return false;        
                                                    }
                                                    
                                                    
                                                      </script>
                                                
                                                    <div class="container-login100-form-btn">
                                                        <button class="login100-form-btn"  type="submit">
                                                            Registrarse
                                            </button>
                                            
                                        
                                        </div>
                                        </form>
                                         
                                    
                                    <!-- column -->
                                
                            </div>
                        </div>
                       
                    </div>
                    
                </div>   
                    
            </div>
                    
             
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../dist/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="../../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../dist/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="../../assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="../../assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="../../dist/js/pages/dashboards/dashboard1.js"></script>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="js/main.js"></script>
<!--=======leaflet=====================================================-->
    <script src="js/map.js"></script>
    <script src="js/mapa.js"></script>

    

    <script>
  
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'esp'}, 'google_translate_element');
        }
        
        
        // Minified Scripts
        (function(){var gtConstEvalStartTime = new Date();/*
        
         Copyright The Closure Library Authors.
         SPDX-License-Identifier: Apache-2.0
        */
        function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
        function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
        if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='440335.1449305758';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();
        </script>
    
                                                    <script>

                                                        

$("#fileUpload").on('change', function () {

//Get count of selected files
var countFiles = $(this)[0].files.length;
var imgPath = $(this)[0].value;
var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
var image_holder = $("#image-holder");
image_holder.empty();

if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
    if (typeof (FileReader) != "undefined") {

        if( $(this)[0].files.length<4){
        //loop for each file selected for uploaded.
        for (var i = 0; i < countFiles; i++) {

            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result,
                        "class": "thumb-image"
                }).appendTo(image_holder);
            }

            image_holder.show();
            reader.readAsDataURL($(this)[0].files[i]);
        }
}else{
    alert("Maximo 3 Images");
    document.getElementById("fileUpload").value = "";

}
    } else {
        alert("This browser does not support FileReader.");
    }
} else {
    
    alert("Escoge solo imagenes");
    document.getElementById("fileUpload").value = "";
    
}



});
                                                
                                                </script>

<script>

    const mensaje = document.getElementById('detalles');
    const contador = document.getElementById('contador');
    
    mensaje.addEventListener('input', function(e) {
        const target = e.target;
        const longitudMax = target.getAttribute('maxlength');
        const longitudAct = target.value.length;
        contador.innerHTML = `${longitudAct}/${longitudMax}`;
    });
    </script>

</body>

</html>