<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="css1/bootstrap.min.css" rel="stylesheet">
    <link href="css1/font-awesome.min.css" rel="stylesheet">
    <link href="css1/prettyPhoto.css" rel="stylesheet">
    <link href="css1/price-range.css" rel="stylesheet">
    <link href="css1/animate.css" rel="stylesheet">
	<link href="css1/main.css" rel="stylesheet">
	<link href="css1/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
	<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
  rel="stylesheet"
/>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"
></script>
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
	  <title>Turismo Comunitario Cotopaxi</title>
	  <meta content="" name="description">
	  <meta content="" name="keywords">
	
	  <!-- Favicons -->
	  <link href="images/icnturist.jpg" rel="icon">
      <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
    
      <!-- Vendor CSS Files -->
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
      <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
      <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
      <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <meta name="keywords" content="Turismo Comunitario, New Illustration Style, M​inimal, Welcome Photo Studio, Contact Us">
      <meta name="description" content="">
      <meta name="page_type" content="np-template-header-footer-from-plugin">
      <title>Página 1</title>
      <link rel="stylesheet" href="nicepage.css" media="screen">
    <link rel="stylesheet" href="Página-1.css" media="screen">
      <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
      <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
      <meta name="generator" content="Nicepage 3.3.7, nicepage.com">
      <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
      <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
      
      
      
      
      
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
      <!-- Template Main CSS File -->
      <link href="assets/css/style.css" rel="stylesheet">
    
      <!-- =======================================================
      * Template Name: Regna - v2.2.0
      * Template URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
      ======================================================== -->
    </head>
    
    <body>
    
      <!-- ======= Header ======= -->
      <header id="header" >
        <div class="container">
    
          <div id="logo" class="pull-left">
            <h2> <a   href="/">CotoTurist</a></h2>
           
            <!-- Uncomment below if you prefer to use a text logo -->
            <!--<h1><a href="#hero">Regna</a></h1>-->
          </div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu">
				<li class="menu-active"><a href="/">Home</a></li>
				<li><a href="/about">Acerca de nosotros</a></li>
				<li><a href="/#services">Servicios</a></li>
				<li><a href="/#portfolio">Anuncios</a></li>
				<li><a href="/search_LT">Lugares Turisticos</a></li>
				   <li class="menu-has-children"><a href="#">Login</a>
				  <ul>
					<li><a href="/login/">Usuario</a></li>
					<li><a href="/administrador/">Personal</a></li>
				  </ul>
				</li>
               <li class="menu-has-children"><a href="#">Idioma</a>
            <ul>
              <div id="google_translate_element"></div>
            </ul>
          </li>
    
             
          
            </ul>
          </nav><!-- #nav-menu-container -->
        </div>
      </header><!-- End Header -->
    
      <main id="main">
    
      
    
      </main><!-- End #main -->
    
     
        
      </head>
     
    	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<BR>
                            <BR>
                                <BR>
                                    <BR>
                                        <BR>
                                            <BR>

												
											

												<form   action="/browser " method="POST" >
												  <div class="input-group">
													
														<input type="search" list="browsers" name="browser" id="browser" class="form-control rounded" placeholder="Search" aria-label="Search"
													  aria-describedby="search-addon" />
													 

																	<datalist id="browsers">
																	<tbody id="browsers"></tbody>
																	</datalist>
																	<button type="submit" class="btn btn-outline-primary">search</button>
												
												  </div>
												</form>
												  <script
												  src="https://code.jquery.com/jquery-3.6.0.js"
												  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
												  crossorigin="anonymous"></script>   
												  <script src="ajax.js"></script>

												<h2>Lugares Turisticos</h2>
											
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear1">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Aventura 
										</a>
									</h4>
								</div>

								

								<div id="sportswear1" class="panel-collapse collapse">
									<div class="panel-body">
									
										<form name="avent"  action="/buscAventura" method="POST" >
												<select   name ="tipo_servicio_id_tipo_servicio" id ="tipo_servicio_id_tipo_servicio" onchange="enviar_aventura()">
													<option selected="true" disabled select>Escoge una opcion </option>
                                                    <% for (var i = 0; i < BuscAventura.length; i++){ %>
                                               
                                                        <option value="<%=BuscAventura[i].id_servicio %>">
                                                            <%=BuscAventura[i].nombre_servicio %>
                                                        </option>
											
                                                    <% } %>

                                                </select>

									<script>
									function enviar_aventura(){
									   document.avent.submit()
									}
									</script>
											</form>

									</div>
								</div>


								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordian" href="#sportswear2">
												<span class="badge pull-right"><i class="fa fa-plus"></i></span>
												Ecoturismo
											</a>
										</h4>
									</div>
	
									
	
									<div id="sportswear2" class="panel-collapse collapse">
										<div class="panel-body">
										
											<form name="eco"  action="/buscEcoturismo" method="POST" >
													<select   name ="tipo_servicio_id_tipo_servicio" id ="tipo_servicio_id_tipo_servicio" onchange="enviar_ecoturismo()">
														<option selected="true" disabled select>Escoge una opcion </option>
														<% for (var i = 0; i < BuscEco.length; i++){ %>
												   
															<option value="<%=BuscEco[i].id_servicio%>">
																<%=BuscEco[i].nombre_servicio %>
															</option>
												
														<% } %>
	
													</select>
	
										<script>
										function enviar_ecoturismo(){
										   document.eco.submit()
										}
										</script>
												</form>
	
										</div>
									</div>
		
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordian" href="#sportswear3">
												<span class="badge pull-right"><i class="fa fa-plus"></i></span>
												Rural
											</a>
										</h4>
									</div>
	
									
	
									<div id="sportswear3" class="panel-collapse collapse">
										<div class="panel-body">
										
											<form name="rura"  action="/buscRural" method="POST" >
													<select   name ="tipo_servicio_id_tipo_servicio" id ="tipo_servicio_id_tipo_servicio" onchange="enviar_rural()">
														<option selected="true" disabled select>Escoge una opcion </option>
														<% for (var i = 0; i < BuscRura.length; i++){ %>
												   
															<option value="<%=BuscRura[i].id_servicio%>">
																<%=BuscRura[i].nombre_servicio %>
															</option>
												
														<% } %>
	
													</select>
	
										<script>
										function enviar_rural(){
										   document.rura.submit()
										}
										</script>
												</form>
	
										</div>
									</div>
		
								</div>
	
							</div>
							
			
							
						</div><!--/category-productsr-->



						<h2>Servicios Turisticos</h2>
											
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswearserv1">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Hospedaje 
										</a>
									</h4>
								</div>
								<div id="sportswearserv1" class="panel-collapse collapse">
									<div class="panel-body">
									
										<form name="hosp"  action="/buscHospedaje"e method="POST" >
												<select   name ="tipo_servicio_id_tipo_servicio" id ="tipo_servicio_id_tipo_servicio" onchange="enviar_hospedaje()">
													<option selected="true" disabled select>Escoge una opcion </option>
                                                    <% for (var i = 0; i < BuscHospedaje.length; i++){ %>
                                               
                                                        <option value="<%=BuscHospedaje[i].id_servicio %>">
                                                            <%=BuscHospedaje[i].nombre_servicio %>
                                                        </option>
											
                                                    <% } %>

                                                </select>

									<script>
									function enviar_hospedaje(){
									   document.hosp.submit()
									}
									</script>
											</form>

									</div>
								</div>
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswearserv2">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Gastronomia
										</a>
									</h4>
								</div>
								<div id="sportswearserv2" class="panel-collapse collapse">
									<div class="panel-body">
									
										<form name="gas"  action="/buscGastronomia"e method="POST" >
												<select   name ="tipo_servicio_id_tipo_servicio" id ="tipo_servicio_id_tipo_servicio" onchange="enviar_gastronomia()">
													<option selected="true" disabled select>Escoge una opcion </option>
                                                    <% for (var i = 0; i < BuscGastronomia.length; i++){ %>
                                               
                                                        <option value="<%=BuscGastronomia[i].id_servicio %>">
                                                            <%=BuscGastronomia[i].nombre_servicio %>
                                                        </option>
											
                                                    <% } %>

                                                </select>

									<script>
									function enviar_gastronomia(){
									   document.gas.submit()
									}
									</script>
											</form>

									</div>
								</div>

								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswearserv3">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Transporte
										</a>
									</h4>
								</div>
								
								<div id="sportswearserv3" class="panel-collapse collapse">
									<div class="panel-body">
									
										<form name="tran"  action="/buscTransporte"e method="POST" >
												<select   name ="tipo_servicio_id_tipo_servicio" id ="tipo_servicio_id_tipo_servicio" onchange="enviar_transporte()">
													<option selected="true" disabled select>Escoge una opcion </option>
                                                    <% for (var i = 0; i < BuscTransporte.length; i++){ %>
                                               
                                                        <option value="<%=BuscTransporte[i].id_servicio %>">
                                                            <%=BuscTransporte[i].nombre_servicio %>
                                                        </option>
											
                                                    <% } %>

                                                </select>

									<script>
									function enviar_transporte(){
									   document.tran.submit()
									}
									</script>
											</form>

									</div>
								</div>
									

								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswearserv4">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Artesanales
										</a>
									</h4>
								</div>
								<div id="sportswearserv4" class="panel-collapse collapse">
									<div class="panel-body">
									
										<form name="arte"  action="/buscArtesanales"e method="POST" >
												<select   name ="tipo_servicio_id_tipo_servicio" id ="tipo_servicio_id_tipo_servicio" onchange="enviar_artesanales()">
													<option selected="true" disabled select>Escoge una opcion </option>
                                                    <% for (var i = 0; i < BuscArtesanales.length; i++){ %>
                                               
                                                        <option value="<%=BuscArtesanales[i].id_servicio %>">
                                                            <%=BuscArtesanales[i].nombre_servicio %>
                                                        </option>
											
                                                    <% } %>

                                                </select>

									<script>
									function enviar_artesanales(){
									   document.arte.submit()
									}
									</script>
											</form>

									</div>
								</div>
								

								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswearserv5">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Productos
										</a>
									</h4>
								</div>


								<div id="sportswearserv5" class="panel-collapse collapse">
									<div class="panel-body">
									
										<form name="prod"  action="/buscProductivos"e method="POST" >
												<select   name ="tipo_servicio_id_tipo_servicio" id ="tipo_servicio_id_tipo_servicio" onchange="enviar_productos()">
													<option selected="true" disabled select>Escoge una opcion </option>
                                                    <% for (var i = 0; i < BuscProductivos.length; i++){ %>
                                               
                                                        <option value="<%=BuscProductivos[i].id_servicio %>">
                                                            <%=BuscProductivos[i].nombre_servicio %>
                                                        </option>
											
                                                    <% } %>

                                                </select>

									<script>
									function enviar_productos(){
									   document.prod.submit()
									}
									</script>
											</form>

									</div>
								</div>

								
								
	
							</div>
							
			
							
						</div><!--/category-productsr-->


						<h2>Ubicación</h2>
											
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Provincia <%=DataProv.name_provincia%>
										</a>
									</h4>
								</div>

								

								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
									
										<form name="env"  action="/buscProv" method="POST" >
												<select   name ="id_provincia" id ="id_provincia" onchange="enviar_prov()">
													<option selected="true" disabled select>Escoge una provincia </option>
                                                    <% for (var i = 0; i < busprov.length; i++){ %>
                                               
                                                        <option value="<%=busprov[i].id_provincia %>">
                                                            <%=busprov[i].name_provincia %>
                                                        </option>
											
                                                    <% } %>

                                                </select>

									<script>
									function enviar_prov(){
									   document.env.submit()
									}
									</script>
											</form>

									</div>
								</div>
	
							</div>
							
			
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="<%=menMissProv%>">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Cantones <%=DataCan.name_canton%>
										</a>
									</h4>
								</div>
								
								<div id="womens" class="panel-collapse collapse">
									<div class="panel-body">
										<form name="env1"  action="/buscCan" method="POST" >
											<input type="hidden" name=id_provincia value="<%=DataProv.id_provincia%>">
										<select   name ="id_canton" id ="id_canton" onchange="enviar_cant()">
											<option selected="true" disabled select>Escoge un Canton </option>
											<% for (var i = 0; i < buscan.length; i++){ %>
									   
												<option value="<%=buscan[i].id_canton %>">
													<%=buscan[i].name_canton%>
												</option>
									
											<% } %>

										</select>
										<script>
											function enviar_cant(){
											   document.env1.submit()
											}
											</script>
									</form>
								
							</div>
						</div>
						

						
							
					</div>
				
				

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="<%=menMissparr%>">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Parroquias <%=DataParr.name_parroquia%>
										</a>
									</h4>
								</div>
								<div id="parr" class="panel-collapse collapse">
									<div class="panel-body">
										<form name="env2"  action="/buscParr" method="POST" >
											<input type="hidden" name=id_provincia value="<%=DataProv.id_provincia%>">
											<input type="hidden" name=id_canton value="<%=DataCan.id_canton%>">
										<select   name ="id_parroquia" id ="id_parroquia" onchange="enviar_parr()">
											<option selected="true" disabled select>Escoge un Parroquia </option>
											<% for (var i = 0; i < busparr.length; i++){ %>
									   
												<option value="<%=busparr[i].id_parroquia %>">
													<%=busparr[i].name_parroquia %>
												</option>
									
											<% } %>

										</select>
										<script>
											function enviar_parr(){
											   document.env2.submit()
											}
											</script>
									</form>
									</div>
								</div>
							</div>



							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="<%=menMissTipo%>">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Busqueda <%=DataTipo.nombre_servicio%>
										</a>
									</h4>
								</div>
								<div id="tipo" class="panel-collapse collapse">
									<div class="panel-body">
										<form name="env3"  action="/buscTipo" method="POST" >
											<input type="hidden" name=id_provincia value="<%=DataProv.id_provincia%>">
											<input type="hidden" name=id_canton value="<%=DataCan.id_canton%>">
											<input type="hidden" name=id_parroquia value="<%=DataParr.id_parroquia%>">
										<select   name ="id_tipo" id ="id_tipo" onchange="enviar_tipo()">
											<option selected="true" disabled select>Escoge</option>
											<% for (var i = 0; i < busServ.length; i++){ %>
									   
												<option value="<%=busServ[i].id_servicio %>">
													<%=busServ[i].nombre_servicio%>
												</option>
									
											<% } %>

										</select>
										<script>
											function enviar_tipo(){
											   document.env3.submit()
											}
											</script>
									</form>
									</div>
								</div>
							</div>
							
						</div><!--/category-productsr-->
					
						
						
						
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<BR>
                            <BR>
                                <BR>
                                    <BR>
                                        <BR>
											<%=mensajePrin%>
						<% for (var i = 0; i < buscIni.length; i++){ %>
							
							
									
						<div class="col-sm-4">
							<BR>
							
							<div class="product-image-wrapper">
								<div class="single-products">
								
									<div class="productinfo text-center">
										
										<img  style="max-width:100%;height:auto;  height: 250px;" src="<%=buscIni[i].path_img%>"  />
										<!-- <h2 style="font-size: 1.3vw;"> <%=buscIni[i].name_emprendimiento%></h2> -->
										
										
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2 ><%=buscIni[i].name_emprendimiento%></h2>
											<p><%=buscIni[i].tipo_registro%></p>
											
											<a href="/ver/<%=buscIni[i].id_emprendimiento%>" class="btn btn-default add-to-cart">Visitar Sitio</a>
										</div>
									</div>
								</div>
							</div>
							
						</div>
						
						
						<% } %>
						
						
						
						
						
						
						
						
						
						
						
						
						
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
	

     
    
      <!-- ======= Footer ======= -->
      <footer id="footer">
        <div class="footer-top">
          <div class="container">
    
          </div>
        </div>
    
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong>Regna</strong>. All Rights Reserved
          </div>
	
          <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
          -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </footer><!-- End Footer -->
    
      <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
   
      <!-- Vendor JS Files -->
      <script src="assets/vendor/jquery/jquery.min.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
      <script src="assets/vendor/php-email-form/validate.js"></script>
      <script src="assets/vendor/counterup/counterup.min.js"></script>
      <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
      <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="assets/vendor/superfish/superfish.min.js"></script>
      <script src="assets/vendor/hoverIntent/hoverIntent.js"></script>
      <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
      <script src="assets/vendor/venobox/venobox.min.js"></script>
      <script src="assets/vendor/aos/aos.js"></script>
    
      <!-- Template Main JS File -->
      <script src="assets/js/main.js"></script>
    
 
     

      <script type="text/javascript">
      function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'af,sq,ar,hy,az,eu,be,bg,ca,zh-CN,zh-TW,hr,cs,da,nl,en,et,tl,fi,fr,gl,ka,de,el,ht,iw,hi,hu,is,id,ga,it,ja,ko,la,lv,lt,mk,ms,mt,no,fa,pl,pt,ro,ru,sr,sk,sl,es,sw,sv,th,tr,uk,ur,vi,cy,yi', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true}, 'google_translate_element');
              }
      </script>
      
      <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
     
    
  
    <script src="js1/jquery.js"></script>
	<script src="js1/price-range.js"></script>
    <script src="js1/jquery.scrollUp.min.js"></script>
	<script src="js1/bootstrap.min.js"></script>
    <script src="js1/jquery.prettyPhoto.js"></script>
    <script src="js1/main.js"></script>
</body>
</html>